body {
    font-family: 'Bellefair', serif;
    background-color: rgb(147,151,158);
}

li {
    display: inline-block;
    border: 1px solid rgb(0,0,0);
    padding: 10px;
    margin: 1px;
    border-radius: 5px;
    font-size: 15px;
}

.navigation {
    background-image: url(images/rocks.jpg");
}