body {
    font-family: 'Bellefair', serif;
    background-color: rgb(147,151,158);
}

.navigation li {
    display: inline-block;
    border: 2px solid rgb(0,0,0);
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background-color: rgb(34, 124, 111);
}

/*.navigation a {
    width: 50px;
    height: 30px;
    display: inline-block;
}*/

.navigation {
    background-image: url(../images/rocks.jpg);
}